html{scroll-behavior: smooth;}
body {
    font-family: 'Open Sans', sans-serif;
}
body * {
  margin: 0;
  border: 0;
  padding: 0;
}

.bg-pink{
    background-color: #e83e8c;
}

h1{
    color: #707070;
    font-size: 60px;
}

h2{
  font-size: 40px;
}

h5{
  font-size: 17px;
}

.card-text{
  font-size: 16px;
}

.list-group-item{
    font-size: 11px;
}